Source: toolforge-jobs-framework-cli
Section: admin
Priority: optional
Maintainer: Wikimedia Cloud Services <cloudservices@wikimedia.org>
Build-Depends: bash-completion,
               debhelper-compat (= 12),
               dh-exec,
               dh-python,
               python3-all,
               python3-setuptools
Standards-Version: 4.5.1
Homepage: https://jobs.toolforge.org
Vcs-Browser: https://gerrit.wikimedia.org/r/cloud/toolforge/jobs-framework-cli
Vcs-Git: https://gerrit.wikimedia.org/r/cloud/toolforge/jobs-framework-cli
Rules-Requires-Root: no

Package: toolforge-jobs-framework-cli
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Description: Command line interface for the Toolforge Jobs framework
 This package contains the command line interface for the Toolforge Jobs
 Framework.
 .
 It provides the `toolforge-jobs` script, which can be used to interact with the
 Toolforge Jobs Framework API.
